body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

.dummy {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

.section-services {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(7, 123, 255);
  color: white;
}

.section-services .slider-list-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
  height: 100vh;
  top: 0;
  padding: 0 10%;
  position: sticky;
}
.section-services .slider-list-selector > span {
  font-size: 16px;
}
.section-services .slider-list-selector .slider-list-selector-block {
  margin-top: 46px;
}
.section-services .slider-list-selector .slider-list-selector-block > span.active {
  color: rgb(255, 255, 255);
}
.section-services .slider-list-selector .slider-list-selector-block > span {
  font-size: 50px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  display: block;
}

.section-services .slider-list-content {
  width: 50vw;
  height: 400vh;
  flex-shrink: 0;
  position: relative;
}
.slider-list-content-block {
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  position: fixed;
}
.slider-list-content-block ol li + li {
  margin-top: 20px;
}

.services-tesis {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 100px;
}
.text-highlighting {
  font-size: 50px;
  line-height: 1.2;
  color: rgb(150, 150, 150);
  text-transform: uppercase;
  text-align: center;
}
.text-highlighting > span.active {
  color: #000;
}



.section-services .slider-list-selector .slider-list-selector-block > span.active,
.text-highlighting > span {
  transition: 300ms all ease-in;
}







.slider-list-content-block-animation-in {
  opacity: 1;
  animation: in 600ms ease-in;
}
@keyframes in {
  0% {
    opacity: 0;
    top: 50%;
    transform: translateY(30%);
  }
  20% {
    opacity: 0;
    top: 50%;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
  }
}

.slider-list-content-block-animation-out {
  transform: none;
  top: 10%;
  opacity: 0;
  animation: out 600ms ease-out;
}
@keyframes out {
  0% {
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
  }
  50% {
    top: 5%;
    opacity: 1;
    transform: none;
  }
  100% {
    top: 5%;
    opacity: 0;
    transform: none;
  }
}
